.random-planets{
  margin-top: 20px;
  padding: 10px;
  background: rgb(85, 85, 85);
  border-radius: 5px;
  margin-bottom: 10px;
}

.random-planets-image img {
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.random-planets-data{
  color: #ccc;
}
.random-planets-data h3 {
  font-size: 28px;
}
.random-planets-data ul{
  list-style: none;
  margin-left: -40px;
}
.random-planets-data li {
  list-style-type: none;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  width: 230px;
}