.header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header a{
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 5px;
}

.header .header-logo {
  font-size: 18px;
}

.header .header-menu {
  list-style: none;
}

.header .header-menu li {
  display: inline-block;
  margin: 2px 10px;
}